body{
    background:#f4f4f4;

}
button {outline:0;}
/*Button */ 

#lineChartValider, #lineChartAnnuler
{
   padding-left:25px;
   padding-right:25px;
   border-radius: 1000px;
}

/*Breadcrumb*/

.breadcrumb
{
  background:#cccc;
  color: #3333;

}



.breadcrumb a
{
  color: #3333;

}


/*Custom*/

.main-color-bg{

    background-color:  #d54500 !important;
    border-color: #d54500 !important;
    color:#ffff;
}

.main-color-bg .title{

  font-weight:bolder;
}

/*Navbar*/

#header{

    background-color: #172935;
    color:#ffffff;
    padding-bottom:19px;
    margin-bottom:17px;

}

#header .create{

  padding-top:20px;
}

#mandatory{
  color:red;
}
.navbar
{
    min-height :33px !important;
    margin-bottom:0px;
    border-radius:0px;
}

.navbar-nav > li >a,.navbar-brand
{
    padding-top:6px !important;
    padding-bottom:0 !important;
    height: 33px;
}



.navbar-default {
    background-color: #172935;
    border-color: #172935;
  }
  .navbar-default .navbar-brand {
    color: #ecf0f1;
  }
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-text {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #d54500;
  }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #d54500;
  }
  .navbar-default .navbar-toggle {
    border-color: #d54500;
  }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #d54500;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #ecf0f1;
  }
  .navbar-default .navbar-link {
    color: #ecf0f1;
  }
  .navbar-default .navbar-link:hover {
    color: #ffffff;
  }
  
  @media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #ecf0f1;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #ffffff;
      background-color: #d54500;
    }
  
  
  /*header*/


  }